ul {
    list-style: none;
    margin: 8px;
    padding: 0;
}

ul li {
    padding: 10px;
    text-align: center;
    color: white;
    font-family: Calibri;
}

li:hover {
    background: white;
    color: rgb(44, 44, 44);
    cursor: pointer;
    font-weight: bold;
}

.flex-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background:rgb(22, 102, 156);
}

.flex-header h1 {
    color: white;
    letter-spacing: 1px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    margin: 10px;
}

.flex-header nav {
    background:rgb(48, 63, 85);    
    width: 100%;
}

.flex-header nav ul {
    display: flex;
    margin: 0;
    justify-content:space-around;
}

.flex-header nav ul li {
    width: 200px;
}


