@import "components/header";
@import "components/container";
@import "components/footer";

* {
    margin: 0;
}

ul {
    list-style: none;
    margin: 8px;
    padding: 0;

    li {
        padding: 10px;
        text-align: center;
        color: white;
        font-family: Calibri;
    }

    &:hover {
        background: white;
        color: rgb(44, 44, 44);
        cursor: pointer;
        font-weight: bold;
    }
}